<launch>
    <node name="heightmap_visualizer" pkg="heightmap_navigation" type="heightmap_visualizer.py">

    </node>
    <!-- <node name="heightmap2occupancygrid" pkg="heightmap_navigation" type="height2occupancygrid.py">

    </node> -->
    <node name="rviz_panel" pkg="rviz" type="rviz"
        args="-d $(find heightmap_navigation)/rviz/heightmap.rviz">

    </node>

</launch>